.list {
    list-style: none;
    padding: 0;
    margin: 0;
}
.list li {
    display: flex;
    align-items: center;
    padding: 5px 0;
}
.list li:nth-child(2n) {
    background: #f9f9f9;
}
.list li img {
    margin: 0 20px 0 0;
}
